/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,700,300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:300italic,900,100italic,400italic,400,300,500italic,700italic,100,700,500,900italic);


/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#494541; text-decoration: underline; outline:none}
a:hover{ color:#494541; text-decoration: none; outline:none}

body{ background: #27211a;  border:0; font: 14px 'Roboto', Arial, Helvetica, sans-serif; color:#615e5a ; line-height:20px; min-width:320px;}

.container { position: relative; min-width: 320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}








/* ============================= header ====================== */
.top1_wrapper{background: url(../images/top1.jpg) center top no-repeat; background-size: cover;}

.top1{padding-top: 25px; padding-bottom: 25px;}

header{float: left; padding-top: 8px;}

.logo{display: inline-block;}

.top2_wrapper{float: right;}

.call1_wrapper{float: left;}
.call1 a{display: block; font-family: 'Roboto Condensed'; text-transform: uppercase; padding-left: 50px; background: url(../images/call1.png) left 3px no-repeat;}
.call1 a .txt1{font-size: 16px; color: #ffcc00;}
.call1 a .txt2{font-size: 20px; font-weight: 700; color: #ffffff;}

.chat1_wrapper{float: left; margin-left: 25px;}
.chat1 a{display: block; font-family: 'Roboto Condensed'; text-transform: uppercase; padding-left: 50px; background: url(../images/chat1.png) left 3px no-repeat;}
.chat1 a .txt1{font-size: 16px; color: #ffcc00;}
.chat1 a .txt2{font-size: 20px; font-weight: 700; color: #ffffff;}

.top3_wrapper{background: #fff;}
.top3{position: relative;}

.splash_wrapper{background: #fcf9f2; border-bottom: 1px solid #e2e0d9; padding-top: 30px; padding-bottom: 30px;}
.splash_wrapper .title1{font-weight: 700; font-size: 48px; line-height: 48px; color: #55402a; text-align: center; padding-bottom: 5px;}
.splash_wrapper .title2{font-weight: 300; font-size: 28px; line-height: 28px; color: #55402a; text-align: center; padding-bottom: 25px;}
.splash_wrapper .splash_bot{padding-top: 25px; text-align: center;}
.splash_wrapper .splash_bot .link_wrapper{display: inline-block;}
.splash_wrapper .splash_bot .or1{display: inline-block; font-weight: 300; font-size: 24px; line-height: 24px; color: #55402a; text-transform: uppercase; padding: 16px 40px; text-align: center;}
.splash_wrapper .splash_bot .phone2{display: inline-block; font-weight: 700; font-size: 24px; line-height: 24px; color: #55402a; text-transform: uppercase; padding: 16px 0px; text-align: center;}

.splash2 {text-align: center; margin-bottom: 25px;}
.splash2 .link_wrapper{}
.splash2 .link_wrapper a{display: block; padding-left: 5px; padding-right: 5px;}
.splash2 .phone3{display: inline-block; font-weight: 700; font-size: 24px; line-height: 24px; color: #55402a; text-transform: uppercase; padding: 16px 0px; text-align: center;}

.page_slide{position: relative;}
.page_slide .page_slide_img{position: relative;}
.page_slide .page_slide_img img{ width: 1600px; position: relative; left: 50%; margin-left: -800px;}
.page_slide .page_title_wrapper{position: absolute; width: 100%; left: 0; top: 50%; margin-top: -60px;}
.page_slide .page_title_wrapper .page_title{font-family: 'Roboto Condensed'; font-size: 44px; line-height: 1; color: #fff; background: #ffcc00; padding: 23px; display: inline-block;}

.breadcrumbs1_wrapper{position: absolute; left: 0; width: 100%; bottom: 0;}

.breadcrumbs1{padding: 10px 25px; margin-top: 0px; font-weight: 300; line-height: 20px; color: #fff; font-size: 14px; font-family: 'Roboto'; background: #64482c; display: inline-block;}
.breadcrumbs1 a{color: #fff; text-decoration: underline;}
.breadcrumbs1 a:hover{color: #fff; text-decoration: none;}
.breadcrumbs1 span{display: inline-block; width: 7px; height: 7px; background: url(../images/breadcrumbs1.png) 0 0 no-repeat; margin: 0 7px;}




/* ============================= content ====================== */
#content{padding-top: 30px; padding-bottom: 30px; background: #fff;}

#content2{padding-top: 30px; padding-bottom: 30px; background: #fff;}

/* ============================= banner ====================== */
#banner_wrapper{ position: relative;}

#banner{position: relative; }

.banner_paginations{position: relative; padding-left: 50px; padding-top: 15px;}

.banner_prev{display: inline-block; width: 31px; height: 32px; background: url(../images/prev2.png) left top no-repeat;}
.banner_prev:hover{background-position: bottom;}

.banner_next{display: inline-block; width: 31px; height: 32px; background: url(../images/next2.png) left top no-repeat; margin-left: 5px;}
.banner_next:hover{background-position: bottom;}

#banner .carousel-box{position: relative;}
#banner .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#banner .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -20px; }
#banner .caroufredsel_wrapper{padding: 0; margin: 0;}
#banner .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#banner .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:0px; margin-right: 20px;}
/* ============================= banner end ====================== */

/* ============================= partners ====================== */
#partners_wrapper{ position: relative;}

#partners{position: relative; padding-left: 45px; padding-right: 45px;}

.partners_prev{display: block; width: 31px; height: 32px; background: url(../images/prev2.png) left top no-repeat; position: absolute; left: 0; top: 50%; margin-top: -16px; z-index: 0;}
.partners_prev:hover{background-position: bottom;}

.partners_next{display: block; width: 31px; height: 32px; background: url(../images/next2.png) left top no-repeat; position: absolute; right: 0; top: 50%; margin-top: -16px; z-index: 0;}
.partners_next:hover{background-position: bottom;}

#partners .carousel-box{position: relative;}
#partners .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#partners .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -20px; }
#partners .caroufredsel_wrapper{padding: 0; margin: 0;}
#partners .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#partners .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:20px }

.partners{}
.partners .partners_inner{}
.partners .partners_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0px; text-align: left;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .partners_inner a:hover{ background: #4e3b34; }
.partners .partners_inner a figure{margin: 0; padding: 0px; position: relative; border: 1px solid #cfcfcf; padding: 5px; background: #fff;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .partners_inner a:hover figure{background: #ffcc00; border-color: #ffcc00;}
.partners .partners_inner a figure .img{width: 100%;}
.partners .partners_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .partners_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}




/* ============================= partners end ====================== */


/* ============================= footer ====================== */
.bot1_wrapper{background: #27211a; padding-top: 50px; padding-bottom: 50px;}

footer{float: left; padding-top: 10px; padding-bottom: 10px;}

.social_wrapper{float: right;}
.social{ display: block; margin: 0; padding: 0; list-style: none;}

.social li{display: inline-block; margin: 0 1px;}
.social li a{display: block; text-decoration: none; font-size: 20px; color: #d8c0a9; text-align: center; width: 40px; height: 40px; border: 1px solid #524d48; background: none; line-height: 38px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social li a:hover{color: #fff;}

.social li.nav1 a:hover{background: #00529f; border-color: #00529f;}
.social li.nav2 a:hover{background: #00c3ed; border-color: #00c3ed;}
.social li.nav3 a:hover{background: #ed3434; border-color: #ed3434;}
.social li.nav4 a:hover{background: #f16856; border-color: #f16856;}






/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: none;}
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; background: none;}
.parallax-content { padding-top: 0px; padding-bottom: 0px;}




.bg1 { background-image: url(../images/parallax1.jpg); }

#parallax1{padding-top: 70px; padding-bottom: 40px;}





/* ============================= main menu ====================== */
.menu_wrapper{float: none;}
.navbar_ { margin: 0; padding: 0; background: none; border:none; position: relative;z-index: 30; min-height: 0; float: none; display: block; padding-right: 2px; background: none;}
.navbar_ .navbar-toggle {float: left; background: #9e662c; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 20px; margin-bottom: 20px; margin-left: 15px;}
.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus{background: #ffcc00;}
.navbar_ .navbar-toggle .icon-bar{background: #fff;}
.navbar-collapse_{padding-left: 0; padding-right: 0; border: none;}
.navbar_ .nav{position: relative; margin: 0; padding: 0; display: block; float: none;}
.navbar_ .nav > li{position: relative; display: block; float: left; white-space: nowrap; margin-left: 70px; background: none;}
.navbar_ .nav > li:first-child{margin-left: 0;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Roboto Condensed'; font-weight: 300; font-size: 22px; line-height: 70px; color: #64482c; text-shadow:none; padding: 0 0px; border: none; margin: 0; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; text-align: left; border-bottom: 3px solid transparent;
transition: color 0.3s ease-out; -moz-transition: color 0.3s ease-out; -webkit-transition: color 0.3s ease-out; -o-transition: color 0.3s ease-out;
}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{color: #83a024; text-decoration: none; background: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-color: #83a024;}
.navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus{color: #83a024; text-decoration: none; background: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-color: #83a024;}

.sub-menu ul{ position: absolute; display: none; left: -20px; top: 100%; list-style: none; zoom: 1; z-index: 1; margin: 0; padding:0; background: #ede6d5; text-align: left; border: none;}
.sub-menu li{ margin: 0; position: relative; zoom: 1; display: block; border-top: 1px solid #ddd5c0;}
.sub-menu li:first-child{border-top: none;}
.sub-menu li a{display: block; position: relative; font-family:'Roboto'; font-weight: 300; font-size: 14px; line-height: 20px; color: #020202; text-decoration: none; padding: 9px 40px 9px 20px; background: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #fff; background: #83a024;}

.sub-menu li a em{display: inline-block; width: 5px; height: 8px; background: url(../images/marker0.png) center center no-repeat; position: absolute; right: 13px; top: 50%; margin-top: -4px;
}



.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: 0; margin-left: 0px; background: #e2dccf;}


/* ============================= search-form ====================== */
#search_wrapper{position: absolute; right: 0; top: 12px;}
#search{position: absolute;right: 0; top: 0px; z-index: 31;}
.searchBtn{position: relative; display: block; width: 48px; height: 48px; background: #fcf9f2; border: 2px solid #d8cfc5; color: #9e662c; font-size: 20px; line-height: 44px; text-align: center;}
.searchBtn.active{display: none;}
.searchBtn:hover{color: #494541;}
.search-form-wrapper{position: absolute; right: 0; top: 0; padding: 0px; background: none; border: none; display: none;}
.search-form-wrapper .navbar-form { float: right; position:relative; z-index: 11; margin:0px 0px 0 0 ; padding: 0; }
.search-form-wrapper .navbar-form input { width: 225px; height: 48px; font-size: 16px; line-height: 20px; color:#958b81; background: #efebe2; border: 2px solid #9e662c; margin: 0; padding: 12px 50px 12px 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; font-style: italic; }
.search-form-wrapper .navbar-form input:focus {color: #000; -moz-box-shadow: inset  none; -webkit-box-shadow: none; box-shadow: none;}
.search-form-wrapper .navbar-form a {text-decoration: none; margin: 0; display: block; width: 48px; height: 48px; background: #9e662c; border: 2px solid #9e662c; color: #fff; font-size: 20px; line-height: 44px; text-align: center; position:absolute; right:0; top: 0; }
.search-form-wrapper .navbar-form a:hover {color: #ffcc00;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }



/* ============================= main layout ====================== */


h1{font-family:'Roboto'; font-weight:700; font-size:48px; color:#55402a; line-height:48px; padding:20px 0  25px 0; margin: 0;}

h2{font-family:'Roboto'; font-weight:700; font-size:36px; color:#55402a; line-height:36px; padding:20px 0  25px 0; margin: 0;}

h3{font-family:'Roboto'; font-weight:700; font-size:28px; color:#55402a; line-height:28px; padding:20px 0  25px 0; margin: 0;}

h4{font-family:'Roboto'; font-weight:700; font-size:18px; color:#55402a; line-height:24px; padding:0px 0  25px 0; margin: 0;}





h6{font-family:'Roboto'; font-weight:700; font-size:18px; color:#55402a; line-height:22px; padding:0px 0  10px 0; margin: 0;}















.img-responsive{width: auto \9;}

.img-responsive-old{display: block; max-width: 100%; height: auto;}

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}





/* === */
.box1_wrapper{position: relative;}
.box1_wrapper .box1{}
.box1_wrapper .box1 .img{position: relative;}
.box1_wrapper .box1 .box1_inner{position: absolute; right: 0; bottom: 0; width: 286px; height: 209px; background: url(../images/box1.png); padding-left: 30px; padding-top: 50px;}
.box1_wrapper .box1 .box1_inner .title1{font-weight: 700; font-size: 24px; line-height: 1; color: #fff; padding-bottom: 10px;}
.box1_wrapper .box1 .box1_inner .title2{padding-bottom: 15px;}
.box1_wrapper .box1 .box1_inner .title2 .txt1{display: inline-block; color: #ffcc00; font-size: 24px; font-weight: 300; line-height: 1;}
.box1_wrapper .box1 .box1_inner .title2 .txt2{display: inline-block; color: #ffcc00; font-size: 37px; font-weight: 700; line-height: 1;}
.box1_wrapper .box1 .box1_inner .title2 .txt3{display: inline-block; color: #fff; font-size: 30px; font-weight: 300; line-height: 1; padding: 0 25px;}
.box1_wrapper .box1 .box1_inner .title2 .txt4{display: inline-block; color: #fff; font-size: 14px; font-weight: 300; line-height: 1;}
.box1_wrapper .box1 .box1_inner .title3{color: #dfbd99;}

.box2_wrapper{position: relative; margin-bottom: 30px;}
.box2_wrapper .box2{}
.box2_wrapper .box2 .img{position: relative;}
.box2_wrapper .box2 .box2_inner{position: relative; margin-top: -65px; background: #64482c; padding-left: 25px; padding-top: 25px; padding-bottom: 20px; padding-right: 20px; border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;}
.box2_wrapper .box2 .box2_inner:before{content: ''; display: block; width: 32px; height: 26px; background: url(../images/box2_corner.png); position: absolute; right: 0; bottom: 100%;}
.box2_wrapper .box2 .box2_inner:after{content: ''; display: block; width: 100%; height: 12px; background: url(../images/box2_shadow.png) right top no-repeat; position: absolute; right: 0; top: 100%; background-size: 100% 12px;}
.box2_wrapper .box2 .box2_inner .title1{font-weight: 700; font-size: 24px; line-height: 1; color: #fff; padding-bottom: 10px;}
.box2_wrapper .box2 .box2_inner .title2{padding-bottom: 15px;}
.box2_wrapper .box2 .box2_inner .title2 .txt1{display: inline-block; color: #ffcc00; font-size: 24px; font-weight: 300; line-height: 1;}
.box2_wrapper .box2 .box2_inner .title2 .txt2{display: inline-block; color: #ffcc00; font-size: 37px; font-weight: 700; line-height: 1;}
.box2_wrapper .box2 .box2_inner .title2 .txt3{display: inline-block; color: #fff; font-size: 30px; font-weight: 300; line-height: 1; padding: 0 25px;}
.box2_wrapper .box2 .box2_inner .title2 .txt4{display: inline-block; color: #fff; font-size: 14px; font-weight: 300; line-height: 1;}
.box2_wrapper .box2 .box2_inner .title3{color: #dfbd99;}

.ul1{ padding: 0; margin: 0; list-style: none; padding-bottom: 0px;}
.ul1 > li {font-weight: 400; font-size: 14px; color: #64482c; line-height: 20px; padding:18px 0px 18px 30px; margin: 0px 0px 0px 0px; background: url(../images/li_st1.png) 0px center no-repeat; border-bottom: 1px solid #e5e5e5;}
.ul1 > li > a{color: #64482c; text-decoration: none;}
.ul1 > li > a:hover{color: #ffcc00; text-decoration: underline;}

.testimonial_wrapper{border-bottom: 1px solid #e5e5e5; padding-bottom: 15px;}
.testimonial_wrapper .txt1{padding-left: 50px; background: url(../images/testimonial1.png) 0 0 no-repeat; font-style: italic; line-height: 18px; padding-bottom: 15px;}
.testimonial_wrapper .txt2{margin-left: 50px; padding-left: 30px; background: url(../images/testimonial2.png) 0 0 no-repeat; font-weight: 700; color: #64482c;}

.divider1{height: 1px; background: #e5e5e5; margin: 25px 0;}

.testimonial_paginations{padding: 0; margin: 30px 0 0; list-style: none;}
.testimonial_paginations li{display: inline-block; color: #fff; font-size: 30px; text-align: center; margin: 0 10px 10px 0;}
.testimonial_paginations li a{display: inline-block; text-decoration: none; background: #64482c; line-height: 41px; padding: 0 10px; color: #fff; min-width: 41px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.testimonial_paginations li a:hover{background: #ffcc00;}
.testimonial_paginations li.active a{background: #ffcc00;}

.google_map{ position: relative; overflow: hidden; margin: 0 0 20px 0; padding: 5px; background: #fff; border: 1px solid #cfcfcf; line-height: 1px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.google_map iframe{position: relative; width: 100%; height: 510px; border: none; background: #fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}





/*-----btn-----*/
.btn-default.btn1{font-family: 'Roboto'; display: inline-block; background: #83a024; color: #fff; border: none; font-size: 24px; line-height: 24px; font-weight: 300; padding: 16px 40px; text-decoration: none; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn1:hover{color: #fff; background: #647f0d;}

.btn-default.btn2{font-family: 'Roboto'; display: inline-block; background: url(../images/btn2.png) right center no-repeat; color: #a9a9a9; border: none; font-size: 24px; line-height: 24px; font-weight: 300; padding: 0 35px 0 0; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 10px; margin-bottom: 10px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn2:hover{color: #000;}










/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 5px; background: #fff; border: 1px solid #cfcfcf;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none;}

.thumbnail .caption{padding: 0; color: inherit;}

.thumb1 {margin-bottom: 20px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb1 .thumbnail a{display: block; text-decoration: none;}
.thumb1 .thumbnail a figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb1 .thumbnail a figure img{width: auto;}
.thumb1 .thumbnail a .caption{}
.thumb1 .thumbnail a .caption .txt1{ font-family: 'Roboto Condensed'; font-weight: 700; font-size: 20px; line-height: 20px; color: #64482c; text-transform: uppercase; text-decoration: none; padding-bottom: 10px;}
.thumb1 .thumbnail a:hover .caption .txt1{ color: #83a024;}

.thumb2 {margin-bottom: 20px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb2 .thumbnail a{display: block; text-decoration: none;}
.thumb2 .thumbnail a figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb2 .thumbnail a figure img{width: auto; margin-left: auto; margin-right: auto;}
.thumb2 .thumbnail a .caption{text-align: center; padding-left: 10%; padding-right: 10%;}
.thumb2 .thumbnail a .caption .txt1{ font-family: 'Roboto Condensed'; font-weight: 700; font-size: 24px; line-height: 24px; color: #fff; text-decoration: none; padding-bottom: 10px;}
.thumb2 .thumbnail a:hover .caption .txt1{ color: #ffcc00; text-decoration: underline;}
.thumb2 .thumbnail a .caption .txt2{color: #fff; text-decoration: none;}
.thumb2 .thumbnail a:hover .caption .txt2{color: #ffcc00; text-decoration: none;}

.thumb3 {margin-bottom: 20px;}
.thumb3.last {margin-bottom: 0px;}
.thumb3 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb3 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb3 figure img{width: auto;}
.thumb3 .caption{}

.thumb4 {margin-bottom: 20px;}
.thumb4.last {margin-bottom: 0px;}
.thumb4 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb4 figure{margin: 0; float: left; margin:0px 20px 20px 0px;}
.thumb4 figure img{width: auto;}
.thumb4 .caption{}

.thumb5 {margin-bottom: 20px;}
.thumb5.last {margin-bottom: 0px;}
.thumb5 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb5 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb5 figure img{width: 100%;}
.thumb5 .caption{}



/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; }

#ajax-contact-form .form-group{margin-left: 0; margin-right: 0;}
#ajax-contact-form .form-group label{color: #333333;}
#ajax-contact-form .form-control{height: 38px; padding: 8px 12px; font-size: 14px; line-height: 20px; color: #999999; background: #fff;border: 1px solid #ccc;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#ajax-contact-form .form-control:focus{border-color: #66afe9;}
#ajax-contact-form textarea.form-control {height: auto;}
#ajax-contact-form .form-group.capthca{float: left; margin-right: 30px;}
#ajax-contact-form .form-group.capthca input{width: 170px;}
#ajax-contact-form .form-group.img{float: left;}
#ajax-contact-form .form-group.img img{width:170px; height:38px;}

.btn-default.btn-cf-submit{display: inline-block; background: #83a024; color: #fff; font-family: 'Roboto'; font-size: 19px; line-height: 20px; font-weight: 300; padding: 10px 20px; text-decoration: none; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; border: none; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn-cf-submit:hover{background: #647f0d; color: #fff;}




/*================= 404 =========================*/
.page-404{text-align: center;}
.page-404 .txt1{font-family:'Roboto'; font-weight:700; font-size:220px; color:#352c2c; line-height:220px; }
.page-404 .txt2{font-family:'Roboto'; font-weight:400; font-size:70px; color:#352c2c; line-height:70px; }




/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1220px) {
 .container { padding: 0; }

 .page_slide .page_slide_img img{ width: 100%; min-width: 1600px; position: relative; left: auto; margin-left: 0;}


}
/* Default landscape and desktop to large desktop */
@media (max-width: 1219px) {
  .navbar_ .nav > li{margin-left: 50px;}
















}
@media (min-width: 992px) and (max-width: 1219px) {
  .box2_wrapper .box2 .box2_inner .title1{font-size: 20px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt1{font-size: 18px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt2{font-size: 25px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt3{font-size: 25px; padding: 0 5px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt4{font-size: 14px;}





}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {










}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar_ .nav > li{margin-left: 30px;}
  .navbar_ .nav > li > a{font-size: 18px;}

  .page_slide .page_title_wrapper{margin-top: -50px;}
  .page_slide .page_title_wrapper .page_title{font-size: 34px; padding: 18px;}

  .box2_wrapper .box2 .box2_inner{padding: 15px;}
  .box2_wrapper .box2 .box2_inner .title1{font-size: 14px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt1{font-size: 14px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt2{font-size: 22px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt3{font-size: 22px; padding: 0 0px;}
  .box2_wrapper .box2 .box2_inner .title2 .txt4{font-size: 12px;}













}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  header{float: none; text-align: center;}

  .top2_wrapper{float: none; padding-top: 15px;}

  .call1_wrapper{float: none; text-align: center;}
  .call1{display: inline-block;}

  .chat1_wrapper{float: none; margin-left: 0; margin-top: 15px; text-align: center;}
  .chat1{display: inline-block;}


	.navbar_ {float: none; margin-bottom: 0; margin-left: -15px; margin-right: -15px; display: block; height: 72px; padding-right: 0; background: none;}
  .navbar-collapse_{clear: both;}
  .navbar_ .nav{display: block; background: #fff;}
  .navbar_ .nav > li{float: none;background: none; margin-left: 0; border-top: 1px solid #ddd5c0;}
  .navbar_ .nav > li > a{margin-bottom: 0; line-height: 40px; padding:0; text-align: center;}
  .navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus, .navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{}

  .sub-menu ul{position: relative; left: 0; top: 0; text-align: center; background: none;}

  #search_wrapper{width: 100%;}
  #search{width: 100%;}

  .searchBtn{position: absolute; right: 0; top: 0;}

  .search-form-wrapper{width: 100%;}

  .search-form-wrapper .navbar-form{width: 100%;}
  .search-form-wrapper .navbar-form input{width: 100%;}

  .social_wrapper{float: none; text-align: center; padding-bottom: 10px;}

  footer{float: none; text-align: center; padding-bottom: 0;}

  .page_slide .page_title_wrapper{margin-top: -40px;}
  .page_slide .page_title_wrapper .page_title{font-size: 28px; padding: 13px;}

  .box2_wrapper{margin-top: 25px;}











}
@media (min-width: 481px) and (max-width: 767px) {



}
/* Landscape phones and down */
@media (max-width: 480px) {

  .page_slide .page_title_wrapper{margin-top: -30px;}
  .page_slide .page_title_wrapper .page_title{font-size: 18px; padding: 10px;}

  .google_map iframe{height: 240px;}

  .page-404 .txt1{font-size: 150px; line-height: 150px;}
  .page-404 .txt2{font-size: 50px; line-height: 50px;}








}